/*Crea tu Pc*/
.ArribaCrearPc{
    background-color: black;
    margin: -20px 3px -8px 3px;
    &--ImagenCrearPc{
    margin: 7px 1px -7px 7px;
    }
    &--TituloCrearPc{
    color: White;
    position: absolute;
    left: 895px;
    right: 8px;
    bottom: 838px;
    font-size: 40px;
    font-family: initial;
    } 
}
.Seleccionado1{
    padding: 0px;
    margin: 6px 1px 2px 59px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado2{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado3{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado4{
        padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado5{
        padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado6{
        padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado7{
    padding: 0px;
    margin: 6px 1px 2px 138px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado8{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado9{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado10{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado11{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: auto;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}