
.Seleccionado1:focus{
    background-color:white;
}
.Seleccionado2:focus{
    background-color:white;
}
.Seleccionado3:focus{
    background-color:white;
}
.Seleccionado4:focus{
    background-color:white;
}
.Seleccionado5:focus{
    background-color:white;
}
.Seleccionado6:focus{
    background-color:white;
}
.Seleccionado7:focus{
    background-color:white;
}
.Seleccionado8:focus{
    background-color:white;
}
.Seleccionado9:focus{
    background-color:white;
}
.Seleccionado10:focus{
    background-color:white;
}
.Seleccionado11:focus{
    background-color:white;
}