@media only screen and (min-width: 375px) and (max-width: 667px){

.ArribaCrearPc{
    background-color: black;
    margin: -20px 3px -8px 3px;
    &--ImagenCrearPc{
    margin: 7px 1px -7px 7px;
    }
    &--TituloCrearPc{
    color: White;
    position: absolute;
    right: 55px;
    bottom: 565px;
    left: auto;
} 
}
	
.Seleccionado1{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
    /*
    &--Text{
    font-size: 0px;
    }
    &--Text:focus{
    transition: 1s;
    font-size: 20px;
    }*/
}
}
.Seleccionado2{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado3{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado4{
        padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado5{
        padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado6{
        padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado7{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado8{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado9{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado10{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado11{
    padding: 0px;
    margin: 6px 1px 2px 0px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
        &__estilo{
    width: 50px;
    font-size: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}
}
.Seleccionado1:focus{
    background-color:white;
}
.Seleccionado2:focus{
    background-color:white;
}
.Seleccionado3:focus{
    background-color:white;
}
.Seleccionado4:focus{
    background-color:white;
}
.Seleccionado5:focus{
    background-color:white;
}
.Seleccionado6:focus{
    background-color:white;
}
.Seleccionado7:focus{
    background-color:white;
}
.Seleccionado8:focus{
    background-color:white;
}
.Seleccionado9:focus{
    background-color:white;
}
.Seleccionado10:focus{
    background-color:white;
}
.Seleccionado11:focus{
    background-color:white;
}
}