@media only screen and (min-width: 375px) and (max-width: 667px){
.ArribaContacto{
	background-color: black;
    margin: -20px 3px -8px 3px;
	&--imagenDelLogoH{
	margin: 7px 1px -7px 7px;
	}
	&--TituloContacto{
    color: White;
    position: absolute;
    right: 55px;
    bottom: 565px;
    left: auto;
    }
    &--ImagenContacto{
    margin: 7px 1px -7px 7px;
    }
} 

.Contacto{
    padding: 16px;
    border: 1px;
    background-color: aliceblue;
    border-radius: 20px;
   	margin: 6px 5px -30px 5px;
    &--TituloCuestionario{
    text-align: center;
    font-family: erif;    
    }
    &--TextoContacto{
    font-size: 17px;
    background: transparent;
    display: initial;
    width: 222px;
    padding: 7px;
    border: none;
    margin: 15px -86px 30px 53px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    border-radius: 2px;    
    }
    &--TextoContacto2{
    font-size: 17px;
    background: transparent;
    display: initial;
    width: 222px;
    padding: 7px;
    border: none;
    margin: 15px -86px 30px 53px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    border-radius: 2px;   
    }
    &--TextoContacto3{
    font-size: 17px;
    display: initial;
    width: 224px;
    padding: 7px;
    border: none;
    margin: 21px 51px 30px 53px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    border-radius: 2px;   
    }
    &--TextoContacto4{
    font-size: 17px;
    background: transparent;
    display: initial;
    width: 222px;
    padding: 7px;
    border: none;
    margin: 15px -86px 30px 53px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    border-radius: 2px;    
    }
    }

.Eleccion{
    width: 20px;
    background: transparent;
    border: 0;
    color: gray;
    margin: 0px 0px 0px 59px;
}
.Eleccion:focus{
    transition: 0.5s;
    width: 111px;
}
.Consentimiento{
    margin: 4px -25px 14px 0px;
    font-size: 13px;
}
.BotonDeContactanos{
    margin: 4px 24px 7px 124px;
    &--Diseño{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 6px;
    padding: 7px;
    font-size: 17px;
    width: 90px; 
    }
    &--Diseño:hover{
    color: #fff;
    background-color: green;
    border-color: green;
    border-radius: 6px;
    padding: 7px;
    font-size: 17px;
    width: 90px; 
    }
    }
}